.site-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: $color-secondary;

  color: $color-white;
  text-transform: uppercase;

  &__logo {
    color: $color-primary;
    font-family: $font-button;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__tel-link:hover {
    color: $color-primary;

  }

  &--header {
    height: 8.3rem;
  }

  &--footer {
    height: 13.3rem;
  }

  @include respond(tab-port) {
    justify-content: space-around;

    background-color: $color-black;

    font-size: 1.2rem;

    &__logo {
      font-size: 1.2rem;
    }

    &__btn {
      display: none;
    }

    &--header {
      height: 5.7rem;
    }

    &--footer {
      display: none
    }
  }
}

.site-nav {
  width: 58rem;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__link:hover {
    color: $color-primary;

  }

  &__item:first-child {
    color: $color-primary;
  }


  @include respond(tab-port) {
    display: none;
  }
}