.completed-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  width: 45rem;
  margin-top: 18rem;
  margin-left: $margin-left-normal;
  margin-right: 4rem;


  &__text {
    width: 100%;
    margin: 3rem 0 5rem;

    font-family: $font-sans-serif;
    font-size: 1.7rem;
    line-height: 2.9rem;
  }

  &__details {
    width: 50%;
    height: 6.4rem;
    margin-bottom: 3.4rem;

    &--heading {
      font-family: $font-serif;
      font-size: 1.8rem;
      line-height: 2.5rem;
      text-transform: uppercase;
      color: $color-primary;
    }

    &--text {
      margin-top: .2rem;
      width: 50%;

      font-family: $font-sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

.gallery {
  width: 84.5rem;
  margin-top: 10rem;

  &__link {
    padding: 1rem 0;
    margin-right: 6rem;

    font-family: $font-serif;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: $color-white-transparent;
    text-transform: uppercase;

    transition: all;

    &:hover {
      color: $color-primary;
      border-bottom: .1rem solid $color-primary;

      transition-duration: .4s;
    }
  }
}