.design-examples {
  width: 75.4rem;
  display: flex;
  justify-content: space-between;
  transform: translate(0, -8rem);

  &__block-1 {
    @include flexColumn;
    justify-content: space-between;
    height: 94.6rem;
    transform: translate(0, 4rem);
  }

  &__block-2 {
    @include flexColumn;
    justify-content: space-between;
    height: 94.6rem;
    transform: translate(0, -4rem);
  }

  &__img-1 {
    width: 35.4rem;
    height: 55.7rem;
  }

  &__img-2 {
    width: 35.4rem;
    height: 35rem;
  }

  &__img-3 {
    width: 35.4rem;
    height: 27.5rem;
  }

  &__img-4 {
    width: 35.4rem;
    height: 62.6rem
  }

  @include respond(tab-port) {
    display: none;
  }
}