.linked-gallery {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 11rem;
  }

  &__item {
    width: 12.5rem;
    opacity: .3;

    &:hover {
      cursor: pointer;
      color: $color-primary;
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }

  &__item-number {
    display: inline-block;
    margin-bottom: 1rem;
    
    font-family: $font-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;

    border-bottom: 1px solid $color-primary;
  }

  &__item-text {
    font-size: 1.5rem;
    line-height: 1.8rem;


  }

  &__img {
    margin-top: 5rem;
    width: 100%;
  }
}