.instagram-side-bar {
  width: $margin-left-normal;
  height: calc(100vh - 8.3rem - 4.85rem);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-secondary;
  box-shadow: 0 -1px 0 0 $color-secondary;

  &__link {
    font-family: $font-button;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    color: $color-primary;
    text-transform: uppercase;

    transform: rotate(90deg);

    &:hover {
      color: $color-white;
    }
  }

  @include respond(tab-port) {
    display: none;
  }
}

.section-landing {
  position: relative;

  display: flex;
  height: calc(100vh - 8.3rem - 4.85rem);

  color: $color-white;

  background: $color-secondary url(assets/img/bg-landing.png) center/cover no-repeat;

  &__heading-block {
    margin-top: 20rem;
    margin-left: 6rem;
  }

  &__heading {
    width: 54rem;
  }

  &__text {
    margin: 3rem 0 5rem;
    width: 44rem;
    font-family: $font-sans-serif;
    font-size: 2.2rem;
    line-height: 3rem;
  }

  &__scroll-down-btn {
    position: absolute;
    bottom: -4.85rem;
  }

  &__buttons {
    width: 43.5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include respond(tab-port) {
    height: calc(100vh - 5.7rem);
  }

  @include respond(phone) {

    &__heading-block {
      padding: 0 $padding-phone;
      margin: 0 auto;
      width: 100%;
    }

    &__heading {
      max-width: 90%;
      margin-top: 8.5rem;
    }

    &__text {
      width: 90%;

      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    &__buttons {
      height: 13rem;
      width: 100%;
    }
  }
}

.section-completed-projects {
  height: 108rem;
  display: flex;
  justify-content: space-between;

  color: $color-white;

  background: $color-secondary url(assets/img/bg-city.png) bottom repeat-x;

  @include marginCollapseFix;

  &__completed-projects {
    margin-top: 17.8rem;
    margin-left: $margin-left-normal;
    margin-right: 4rem;
  }

  &__gallery {
    margin-top: 10.6rem;
  }

  &__slider {
    margin-top: 3rem;
  }

  @include respond(tab-port) {
    height: auto;
    padding: 0 $padding-phone;

    flex-direction: column;
    align-items: center;

    background: $color-black;

    &__completed-projects {
      margin: 3.7rem 0;
    }

    &__gallery {
      display: none;
    }

    &__gallery-phone {
      margin-bottom: 3.8rem;

      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    }
  }
}

.section-online-control {
  height: auto;
  margin-top: -33rem;
  color: $color-black-light;

  @include flexColumn;

  &__video {
    margin-top: 1.2rem;
    margin-bottom: 2.8rem;
    width: 81.7rem;
    height: 43.4rem;

    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.15);
    border: 0;
  }

  &__separator-line {
    margin: 3.4rem auto;
  }

  &__text {
    max-width: 68rem;
    margin-bottom: 9.2rem;

    font-size: 2rem;
    line-height: 3.4rem;
    text-align: center;
  }

  &__form-block {
    max-width: 77rem;
    margin-bottom: 14.8rem;
  }

  &__form {
    position: relative;

    max-width: 77rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__i-agree {
    margin: 3.3rem auto 0;
  }

  @include respond (tab-port) {
    padding: 0 $padding-phone;
    margin-top: 0;

    color: $color-white;

    background-color: $color-black;

    &__form-block {
      margin-bottom: 4.8rem;
    }


    &__video {
      width: calc(100vw - 3.6rem);
      height: calc(56.78vw - 3.6rem);
    }

    &__text {
      margin-bottom: 4rem;

      font-size: 1.4rem;
      line-height: 2.4rem;
    }

    &__separator-line {
      margin: 0 auto 2.1rem;
    }
  }

  @include respond(phone) {
    &__form-block {
      width: 100%;
      margin-bottom: 8.8rem;
    }

    &__form {
      width: 100%;

      flex-direction: column;
      justify-content: space-between;
    }

    &__input-field {
      margin-bottom: 6rem;
    }

    &__i-agree {
      margin: 3.3rem 0 0;
    }

    &__btn {
      position: absolute;
      bottom: -11.2rem;
    }
  }
}

.section-types-of-repair {
  @include flexColumn;

  &__card-block {
    width: 127rem;

    display: flex;
    justify-content: space-evenly;
  }

  @include respond(tab-port) {
    margin-bottom: -6rem;

    &__section-heading-block {
      margin-top: 3.3rem;
    }

    &__card-block {
      width: auto;

      flex-direction: column;
    }
  }

  @include respond(phone) {
    &__section-heading-block {
      margin-top: 8.3rem;
    }
  }
}

.section-features {
  position: relative;

  height: 92rem;
  margin-top: 10rem;

  display: flex;
  justify-content: space-between;

  &__form-block {
    display: flex;
    flex-direction: column;

    width: 51rem;
    height: 50.6rem;
    padding: 2.8rem 4.9rem;
    margin-right: $margin-standard;
    margin-top: 5rem;

    color: $color-white;

    background-color: $color-secondary;
    box-shadow: 0 3rem 3rem 0 rgba(0, 0, 0, 0.05);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__btn {
    align-self: flex-end
  }

  &__promo {
    position: absolute;
    right: 25rem;
    bottom: 24.2rem;

    display: flex;
    align-items: center;

    &__icon {
      width: 7.2rem;
      height: 7.2rem;
      border-radius: 50%;
      margin-right: 2.4rem;

      background: $color-primary url(assets/svg/piggy-bank-icon.svg) center no-repeat;
      box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    }

    &__text {
      width: 24rem;

      font-family: $font-button;
      font-size: 2rem;
      line-height: 2.5rem;
      color: $color-primary;
      text-shadow: 0 .3rem 1rem rgba(227, 184, 115, 0.15);
    }
  }

  @include respond(tab-port) {
    display: none;
  }
}

.section-design-examples {
  display: flex;
  justify-content: space-between;

  background: $color-secondary url(assets/img/bg-section-design-examples.png) center/cover;
  height: 86.4rem;
  color: $color-white;

  @include marginCollapseFix;

  &__left-block {
    margin-left: $margin-standard;
    margin-top: 14rem;
    width: 29rem;
  }

  &__heading {
    margin-bottom: 3rem;
  }

  &__right-block {
    margin-right: $margin-standard;
  }

  @include respond(tab-port) {
    height: auto;

    padding: 0 $padding-phone;

    background: linear-gradient(to bottom, $color-white 0%, $color-white 65%, $color-black 65%, $color-black 100%);

    &__left-block {
      margin-left: 0;
      margin-top: 0;
      width: 100%;
    }

    &__heading {
      margin: 0 auto 4rem;
      max-width: 26rem;
      text-align: center;

      font-size: 2.2rem;
      line-height: 3rem;
    }
  }
}

.section-design-project {
  height: 62rem;

  &__heading-block {
    margin-top: 16rem;
  }

  &__card-block {
    height: 78rem;
    margin: 5rem 6rem 0;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.section-design-project {
  height: 62rem;

  &__heading-block {
    margin-top: 16rem;
  }

  &__card-block {
    height: 78rem;
    max-width: 130rem;
    margin: 5rem auto 0;
    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
  }

  @include respond(tab-port) {
    @include marginCollapseFix;

    height: auto;
    padding: 1px $padding-phone;
    margin-top: 0;

    color: $color-white;

    background-color: $color-black;

    &__heading-block {
      margin-top: 5rem;

      color: $color-white;
    }

    &__card-block {
      height: auto;
      margin: 5rem auto 0;
      overflow: hidden;

      flex-direction: column;
      align-items: center;
    }

    &__card:not(:last-child) {
      margin-bottom: -7rem;
    }
  }
}

.section-how-we-are-working {
  height: 161.5rem;
  margin-top: -14rem;
  display: flex;
  justify-content: space-between;

  background: $color-secondary;
  color: $color-white;

  &__left-block {
    width: 33.7rem;
    margin: 42rem 3rem 0 $margin-standard;
  }

  &__right-block {
    margin-right: $margin-standard;
    margin-top: 51.5rem;
    width: 76.5rem;
    max-height: 60rem;
  }

  &__heading-big {
    margin-top: 1.8rem;
    margin-bottom: 9.2rem;
  }

  &__slider {
    margin-top: 8rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.section-our-team {
  @include flexColumn;

  margin-top: -40rem;

  &__heading-block {
    color: $color-white;
  }

  &__card-block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }

  &__separator-line {
    margin-bottom: 3.4rem;
  }

  &__about {
    font-size: 2rem;
    line-height: 3.4rem;
    text-align: center;
  }

  @include respond(tab-port) {
    margin-top: 0;
    padding: 0 $padding-phone;

    background-color: $color-black;

    &__card-block {
      flex-direction: column;
      width: auto;
    }

    &__card:not(:last-child) {
      margin-bottom: -5rem;
    }

    &__about {
      display: none;
    }

    &__separator-line {
      display: none;
    }
  }
}

.section-our-clients {
  @include flexColumn;
  height: 100rem;
  margin-top: 9rem;

  background: url(assets/img/bg-city-2.png) bottom right no-repeat;

  &__card-block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 5rem;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.section-contacts {
  @include marginCollapseFix;
  @include flexColumn;
  height: 97rem;

  background: $color-secondary url(assets/img/bg-skyscraper.png) center/cover;

  &__form-block {
    width: 88.3rem;
    height: 44.5rem;
    margin-top: -21rem;
    padding: 3.5rem 18rem 1rem;

    display: flex;
    flex-direction: column;

    color: $color-white;

    background-color: $color-secondary;

    &__field-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__address-block {
    margin-top: 5.5rem;

    font-family: $font-serif;
    color: $color-primary;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__social-media {
    width: 7rem;
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
  }

  &__map-block {
    margin-top: 3.4rem;
    width: 92.5rem;
    height: 46.5rem;
    overflow: hidden;

    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);

    img {
      width: 100%;
      height: auto;
    }
  }

  @include respond(tab-port) {
    height: 97rem;
    padding: 0 $padding-phone;

    background: $color-black;

    &__form-block {
      width: 100%;
      height: 100%;
      margin-top: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      color: $color-white;

      background-color: $color-black;

      &__field-wrapper {
        flex-direction: column;
        height: 15rem;
      }

      .input-field {
        width: 100%;
      }
    }

    &__i-agree {
      align-self: baseline;
      transform: translate(0, -100%);
    }

    &__address-block {
      font-size: 1.8rem;
      line-height: 2.5rem;

      order: 1;
    }

    &__social-media {
      margin-bottom: 3.5rem;

      order: 1;
    }

    &__map-block {
      // height: 65.5rem;
      width: 100%;

      display: flex;
      justify-content: center;

      img {
        height: 100%;
        width: auto;
      }
    }
  }
}