.instagram-side-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $margin-left-normal;
  height: calc(100vh - 8.3rem);

  background-color: $color-secondary;

  &__link {
    color: $color-primary;

    transform: rotate(90deg);
  }
}

.section-landing {
  display: flex;
  height: calc(100vh - 8.3rem);

  background: $color-secondary url(assets/img/bg-landing.jpg) center/cover no-repeat;
}

.section-completed-projects {
  height: 108rem;
  display: flex;
  justify-content: space-between;

  color: $color-white;

  background: $color-secondary url(assets/img/bg-city.png) bottom repeat-x;

  @include marginCollapseFix;
}

.section-online-control {
  height: 100rem;
  margin-top: -33rem;
  color: $color-black-light;

  @include flexColumn;

  &__video {
    margin-top: 1.2rem;
    margin-bottom: 2.8rem;
    width: 81.7rem;
    height: 43.4rem;

    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.15);
    border: 0;
  }

  &__separator-line {
    margin: 3.4rem auto;
  }

  &__text {
    max-width: 68rem;
    margin-bottom: 9.2rem;

    font-size: 2rem;
    line-height: 3.4rem;
    text-align: center;
  }

  &__form-block {
    width: 77rem;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    width: 77rem;
  }

  &__i-agree {
    margin: 3.3rem auto 0;
  }
}

.section-types-of-repair {
  @include flexColumn;

  &__card-block {
    height: 67rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
  }
}

.section-features {
  height: 102rem;
  display: flex;
  justify-content: space-between;

  &__form-block {
    display: flex;
    flex-direction: column;
    width: 51rem;
    height: 50.6rem;
    padding: 2.8rem 4.9rem;

    color: $color-white;

    background-color: $color-secondary;
    box-shadow: 0 3rem 3rem 0 rgba(0, 0, 0, 0.05);

  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__btn {
    align-self: flex-end
  }
}

.section-design-examples {
  display: flex;
  justify-content: space-between;

  background: $color-secondary url(assets/img/bg-section-design-examples.jpg) center/cover;
  height: 86.4rem;
  color: $color-white;

  @include marginCollapseFix;

  &__left-block {
    margin-left: $margin-standard;
    margin-top: 14rem;
    width: 29rem;
  }

  &__heading {
    margin-bottom: 3rem;
  }

  &__right-block {
    margin-right: $margin-standard;
  }
}

.section-design-project {
  height: 62rem;


  &__heading-block {
    margin-top: 16rem;
  }

  &__card-block {
    height: 78rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem 6rem 0;
  }
}

.section-how-we-are-working {
  height: 161.5rem;
  margin-top: -14rem;
  display: flex;
  justify-content: space-between;

  background: $color-secondary;
  color: $color-white;

  &__left-block {
    width: 33.7rem;
    margin-top: 42rem;
    margin-left: $margin-standard;
  }

  &__right-block {
    margin-right: $margin-standard;
    margin-top: 51.5rem;
    width: 76.5rem;
    max-height: 60rem;
  }

  &__heading-big {
    margin-top: 1.8rem;
    margin-bottom: 9.2rem;
  }
}

.section-our-team {
  @include flexColumn;

  margin-top: -40rem;

  &__heading-block {
    color: $color-white;
  }

  &__card-block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }

  &__separator-line {
    margin-bottom: 3.4rem;
  }

  &__about {
    font-size: 2rem;
    line-height: 3.4rem;
    text-align: center;
  }
}

.section-our-clients {
  @include flexColumn;
  height: 100rem;
  margin-top: 9rem;

  background: url(assets/img/bg-city-2.png) bottom right no-repeat;

  &__card-block {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 5rem;
  }
}

.section-contacts {
  @include marginCollapseFix;
  @include flexColumn;
  height: 97rem;

  background: $color-secondary url(assets/img/bg-skyscraper.jpg) center/cover;

  &__form-block {
    width: 88.3rem;
    height: 44.5rem;
    margin-top: -21rem;
    padding: 3.5rem 18rem 1rem;

    display: flex;
    flex-direction: column;

    color: $color-white;

    background-color: $color-secondary;

    &__field-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &__address-block {
    margin-top: 5.5rem;

    font-family: $font-serif;
    color: $color-primary;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__social-media {
    width: 7rem;
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
  }

  &__map-block {
    margin-top: 3.4rem;
    width: 92.5rem;
    height: 46.5rem;
    overflow: hidden;

    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
  }
}